ul.nav.nav-tabs.nav-stacked.index
  li
    form(method="get", action="/search")
      input.search-query(type="text", name="q", placeholder="Search")
  li(class="#{ current.path[0]=='/docs/base-styles'?'active':'' }")
    a(href="/docs/base-styles") Base Styles
    ul.nav-child.nav.nav-tabs.nav-stacked(class="#{ current.path[0]=='/docs/base-styles'?'':'hide'}")
      li(class="#{ current.path[1]=='page-1'?'active':''}"): a(href="/docs/base-styles/Colors") Colors
      li(class="#{ current.path[1]=='page-2'?'active':''}"): a(href="/docs/base-styles/Borders") Borders
  li(class="#{ current.path[0]=='docs'?'active':'' }"): a(href="/docs") Components
